<section id="imagenes">
  <div class="container">
    
    <h2>IMAGENES</h2>
    <div class = "box">
      <%= image_tag("foto2.jpg")%>
      <h3>CURSO DE MECANICA</h3>
    </div>
    <div class = "box">

      <%= image_tag("foto5.jpg")%>
      <h3>ANIVERSARIO</h3>
    </div>
    <div class = "box">
      <%= image_tag("foto8.jpg")%>
      <h3>REUNIONES</h3>
    </div>
    <div class = "box">
      <%= image_tag("imagen1.jpg")%>
      <h3>Correria a Jardin</h3>
    </div>
    <div class = "box">
      <%= image_tag("foto7.jpg")%>
      <h3>Correria a Jericó</h3>
    </div>



  </div>
</section>

      <section id="contacto">
        <h2>CONTACTO</h2>
          <form>
            <input type="text">
            <textarea rows = "10"></textarea>
            <button>ENVIAR</button>
          </form>
</section>