<!DOCTYPE html>
<html>
  <head>
    <title>Clubpulsarracing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= image_tag("logo.png")%> Club Pulsar Racing Medellin 
    </header>
    <nav>
      <a href="">HOME</a>
      <a href="">IMAGENES</a>
      <a href="">VIDEOS</a>
      <a href="">CONTACTOS</a>
    </nav>

      <section>
        <h1></h1>
      </section>
    <%= yield %>
  </body>
</html>
